//Couleurs principales
$violet-primaire: #9356DC;
$rose-secondaire: #FF79DA;
$aqua-tertiaire: #99E2D0;

//Couleur secondaires
$vert-clair: #99e2d0;
$gris-sombre: #353535;
$gris-clair: #f5f5f5;
$violet-clair: #f5edff;
$background-color: #ffffff;

//Textes
$txt-fond-clair: #000000;
$txt-fond-sombre: #ffffff;
$txt-fond-vert: #008766;

$h1-font-size: 2rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.125rem;

$txt-font-size: 1rem;

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Shrikhand', cursive;

//Fonts weight
$font-regular: 400;
$font-bold: 700;

//Radius
$card-radius: 1rem;
$button-radius: 0.25rem;
$button-cta-radius: 2rem;

//MediaQueries
$Media-Tablette:668px;
$Media-Desktop:1140px;