/* Début Main */
main{

    & #SectionLocalisation{
        @extend %grid-center;
        padding: 0;
        background: #eaeaea;
        background: linear-gradient(180deg,
            rgba(173, 173, 173, .35) 0%,
            rgba(234, 234, 234, .75) 15%,
            rgba(234, 234, 234, 1) 100%);

        & p {
            font-weight: 600;

            & i {
                padding: 0 0.5em 0 0;
            }
        }
    }

    & #SectionIntro {
        @extend %grid-center;
        background-color: $gris-clair;
        padding: 2rem;
        text-align: center;
    }

    & #SectionSteps {
        padding: 2rem;
    
        & ul {
            display: grid;
            padding: 0;
            @include GridRepeat(1);
            gap: 20px;
            justify-content: center;
            @media screen and (min-width: $Media-Tablette) {
                @include GridRepeat(2);
            }
            @media screen and (min-width: $Media-Desktop) {
                @include GridRepeat(3);
            }

            & li {
                @extend %shadow;
                padding: 1.5rem 2rem;
                border-radius: $button-cta-radius;
                margin-left: 1rem;
                position: relative;
                display: flex;
                align-items: center;
    
                &:hover {
                    background-color: $violet-clair;
                    & i {
                        color: $violet-primaire;
                    }
                }
    
                & span.Step__Number {
                    width: 1rem;
                    height: 1rem;
                    position: absolute;
                    left: -1rem; /* 1rem est égal a la moitié du cercle violet*/
                    padding: 0.5rem;
                    background-color: $violet-primaire;
                    color: $txt-fond-sombre;
                    border-radius: $button-cta-radius;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
    
                & p {
                    font-weight: 700;
    
                    & i {
                        margin-right: 1rem;
                        color: $gris-sombre;
                    }
                }
    
            }
        }
    }

    & #ListingRestaurant {
        padding: 2rem;

       & ul.ContainerCard {
            @extend %grid-center;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(1 , 1fr);
            gap: 20px;

            @media screen and (min-width: $Media-Tablette) {
                grid-template-columns: repeat(2 , 1fr);
            }
            @media screen and (min-width: $Media-Desktop) {
                grid-template-columns: repeat(4 , 1fr);
            }

           & a.Card__Lien {
                text-decoration: none;
                color: inherit;
    
                & .Card__Image {
                    width: 100%;
                    position: relative;
    
                    & img {
                        @extend %img-fit-cover;
                        border-radius: $card-radius $card-radius 0 0;
                    }
    
                    & .Card__Boxnews {
                        position: absolute;
                        top: 1rem;
                        right: 1rem;
                        padding: 0.5rem 1rem;
                        background-color: $vert-clair;
                        color: $txt-fond-vert;
                        border-radius: $button-radius;
                      }
                }
        
        
                & .Card__Content {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0.5rem 1rem;
        
                    & .Card__Title,
                    .Card__Localisation {
                        margin: 0.5rem 0;
                    }

                    & .Card__Content_Like {
                        position: relative;
                        width: 24px;
                        height: 24px; 

                        & i {
                            position: absolute;
                            top: 0;
                            left: 0;
                            font-size: 1.5rem;

                            &.heart-hover {
                                opacity: 0;
                            }
                        }

                        &:hover i.heart-hover {
                            opacity: 1;
                        }
                    }
                }
    
            }

       }

    }

    /********* Page interne************/

    & .Header_Menu {
        position: relative;
        margin-top: -2rem;
        background-color: $background-color;
        border-radius: $button-cta-radius $button-cta-radius 0 0;
        padding: 2rem 1rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        text-align: left;

        @media screen and (min-width: $Media-Tablette) {
            padding: 2rem 2rem 0;
        }

        & .Header_Like {
            position: relative;
            width: 24px;
            height: 24px;
            cursor: pointer;

            & i {
                position: absolute;
                top: 0;
                left: 0;
                font-size: 1.5rem;

                &.heart-hover {
                    opacity: 0;
                }
            }

            &:hover i.heart-hover {
                opacity: 1;
            }
        }
    }

    & #SectionMenu {
        padding: 2rem 1rem 0;
        display: grid;
        gap: 20px;
        grid-template-columns: minmax(0, 1fr);

            @media screen and (min-width: $Media-Tablette) {
                grid-template-columns: repeat(2 , minmax(0, 1fr));
                padding: 2rem 2rem 0;
            }
            @media screen and (min-width: $Media-Desktop) {
                grid-template-columns: repeat(3 , minmax(0, 1fr));
            }


        & section.Menu {

            & ul.ListingMenu {
                padding: 0;

                & li.ListingMenu__Plat {
                    @extend %shadow;
                    padding: 0.5rem 1rem;
                    border-radius: $card-radius;
                    margin-bottom: 1rem;
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    gap: 20px;

                    & .ListingMenu__Plat__Description {
                        overflow: hidden;
                        white-space: nowrap;

                        & h3,
                        & p {
                            margin: 0.5rem 0;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                    }

                    & p.ListingMenu__Plat__Price {
                        font-weight: $font-bold;
                     }

                }
            }
        }
    }

    & section.CommandeCTA {
        padding: 2rem 0 3rem;
        text-align: center;
    }

}